.main-container {
  display: flex;
  height: calc(100vh - 180px);
  align-items: center;
  justify-content: center;
}

.table-container {
  width: 1120px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: none;
  height: 600px;
}

table {
  width: 100%;
  padding: 2rem;
  background-color: var(--gray900);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th,
tr {
  text-align: center;
  border-bottom: 1px solid #ccc;
  background-color: var(--gray800);
}

tr {
  height: 75px;
}

.trash-button {
  background: transparent;
  border: 0;
}

.trash-button svg {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--red500);
}

.trash-button svg:hover {
  filter: brightness(0.5);
}

.checkbox {
  width: 16px;
  height: 16px;
}

td {
  text-align: center;
  vertical-align: middle;
}
